<ng-template [ngIf]="messageSocket.isIdentity" [ngIfElse]="loginView" #chatView>
  <input
    type="text"
    placeholder="message to everyone"
    (input)="messageSocket.broadcastTyping()"
    [formControl]="messageControl"
    (keydown.enter)="sendMessage()"
  />
  <button (click)="sendMessage()">send</button>
  <div
    *ngIf="messageControl.errors?.['required'] && messageControl.touched"
    style="color: red"
  >
    insert message !
  </div>
  <ng-container *ngIf="messageSocket.isTyping">
    <span>{{ messageSocket.typingName }} is typing ... </span>
  </ng-container>
  <div *ngFor="let senderMessage of messageSocket.messages$ | async">
    <span> {{ senderMessage.name }} : </span
    ><span> {{ senderMessage.message }}</span>
  </div>
</ng-template>

<ng-template #loginView>
  <div>join chat room</div>
  <div>
    <input
      type="text"
      placeholder="enter name"
      [formControl]="joinNameControl"
      (keydown.enter)="joinChatRoom()"
    />
    <button (click)="joinChatRoom()">join</button>
  </div>
  <div
    *ngIf="joinNameControl.errors?.['required'] && joinNameControl.touched"
    style="color: red"
  >
    insert join name !
  </div>
</ng-template>
